.Logo {
  position: relative;
  left: -80px;
  width: 250px;
  height: 100%;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  right: 0;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
